.mat-table{
  overflow: auto;
  max-height: 600px;
  margin: 1em auto;
  display: flex;
}
mat-card{
  max-width: 70%;
  margin: 1em auto;
  text-align: center;
}

.action-column{
  flex: 0 0 125px;
}

.action-column-header{
  flex: 0 0 125px;
}
